<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sheep_jump_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_jump_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{1,162},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_jump_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{1,323},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_jump_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{1,484},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep_jump_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{1,645},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sheet.png</string>
            <key>size</key>
            <string>{230,805}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a4f223e02ad6c3fc0e63de24c1b3456:45ac0760e4f106f71752cc5624aa9393:e9c8e58805a65805a9872e91554d7434$</string>
            <key>textureFileName</key>
            <string>sheet.png</string>
        </dict>
    </dict>
</plist>
