<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{228,159}</string>
                <key>textureRect</key>
                <string>{{231,1},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sheet.png</string>
            <key>size</key>
            <string>{460,161}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1863295ea9b6ae3a041fd99d75006019:08c2d53a43ee85e9719876ead3726601:e9c8e58805a65805a9872e91554d7434$</string>
            <key>textureFileName</key>
            <string>sheet.png</string>
        </dict>
    </dict>
</plist>
